body {
	background-color: #ebf5df;
	margin: 0;
}

#container {
	background-color: #bad4aa;
	width: 100%;
	margin: auto;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr;
}

header {
	background-color: #d4d4aa;
	height: 50px;
	padding: 10px;
}

main {
	background-color: #edb458;
	height: 450px;
	padding: 10px;
}

aside {
	background-color: #e8871e;
	height: 250px;
	padding: 10px;
}

footer {
	background-color: #d4d4aa;
	height: 50px;
	padding: 10px;
}

@media (min-width: 567px) {
	#container {
		width: 540px;
		grid-template-columns: 1fr 1fr;
	}

	header {
		grid-column: 1 / span 2;
	}

	footer {
		grid-column: 1 / span 2;
	}
}

@media (min-width: 768px) {
	#container {
		width: 720px;
		grid-template-columns: 3fr 1fr;
	}
}

@media screen and (min-width: 992px) {
	#container {
		width: 960px;
	}
}

@media screen and (min-width: 1200px) {
	#container {
		width: 1140px;
	}
}
